{
    "name": "<%= @calico_name %>",
    "type": "calico",
    "etcd_endpoints": "<% array=[] -%>
<% @etcd_count.to_i.times do |i| -%>
<%  array<<"https://etcd-#{i}.#{@ec2_tag_cluster}.#{@dns_root}:#{@calico_etcd_port}" -%>
<% end -%>
<%= array.join(',') %>",
    "etcd_ca_cert_file": "/etc/etcd/ssl/etcd-overlay-ca.pem",
    "etcd_cert_file": "/etc/etcd/ssl/etcd-overlay.pem",
    "etcd_key_file": "/etc/etcd/ssl/etcd-overlay-key.pem",
    "log_level": "info",
    "ipam": {
        "type": "calico-ipam"
    },
    "policy": {
        "type": "k8s"
    },
    "kubernetes": {
        "kubeconfig": "/etc/kubernetes/kubeconfig-kubelet"
    }
}
