ETCD_ENDPOINTS="<% array=[] -%>
<% @etcd_count.to_i.times do |i| -%>
<%  array<<"https://etcd-#{i}.#{@ec2_tag_cluster}.#{@dns_root}:#{@calico_etcd_port}" -%>
<% end -%>
<%= array.join(',') %>"
ETCD_CA_CERT_FILE="/etc/etcd/ssl/etcd-overlay-ca.pem"
ETCD_CERT_FILE="/etc/etcd/ssl/etcd-overlay.pem"
ETCD_KEY_FILE="/etc/etcd/ssl/etcd-overlay-key.pem"
CALICO_HOSTNAME=""
CALICO_NO_DEFAULT_POOLS="true"
CALICO_IP=""
CALICO_IP6=""
CALICO_AS=""
CALICO_LIBNETWORK_ENABLED="false"
CALICO_NETWORKING_BACKEND="bird"
