# This ConfigMap is used to configure a self-hosted Calico installation.
kind: ConfigMap
apiVersion: v1
metadata:
  name: calico-config 
  namespace: kube-system
data:
      # Configure this with the location of your etcd cluster.
  etcd_endpoints: "<% array=[] -%>
<% @etcd_count.to_i.times do |i| -%>
<%  array<<"https://etcd-#{i}.#{@ec2_tag_cluster}.#{@dns_root}:#{@calico_etcd_client_port}" -%>
<% end -%>
<%= array.join(',') %>"
  etcd_ca: "/etc/etcd/ssl/etcd-overlay-ca.pem"
  etcd_key: "/etc/etcd/ssl/etcd-overlay-key.pem"
  etcd_cert: "/etc/etcd/ssl/etcd-overlay.pem"
